/* Microsoft Colors */
/* Links (Deep Blue): #005da6 */
:root {
  --side-padding: 75px;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility */

a {
  color: #262626;
  text-decoration: none;
  font-size: 13px;
}

.container {
  padding: 0 var(--side-padding);
}

.img-max {
  width: 100%;
}

/* Header and Navigation */
div#header-container.container {
  height: 54px;
}

header.header {
  padding: 0 10px;
  display: flex;
  height: 100%;
}

div#logo-container {
  margin-right: 1.35em;
  display: flex;
  align-items: center;
}

div#logo-container > img {
  width: 110px
}

nav#nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  align-self: flex-start;
}

a.nav-links {
  padding: 8px 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

a.nav-links > .nav-text {
  position: relative;
}

a.nav-links > .nav-text::after {
  content: '';
  border-bottom: 0px solid black;
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -3px;
  left: 0;
}

a.nav-links > .nav-text:hover::after {
  /* border-bottom: 2px solid black; */
  background-color: black;
  display: block;
}

div#icon-nav-links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin-left: auto;
  }

div#icon-nav-links > a.nav-links {
  margin: 0 0.6em;
}

i {
  margin-left: 5px;
}
/* 1st Banner */
.banner-img {
  position: relative;
  margin: auto;
  width: 100%;
}

.image-title {
  position: absolute;
  top: 220px;
  left: 150px;
}

h2 {
  font-weight: 600;
}

.image-title > p {
  margin-top: 13px;
  font-size: 15px;
}

.shop-btn {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  width: 140px;
  height: 40px;
  margin-top: 20px;
  border: none;
}

/* Cards */
div.image-cards {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
}

#cards-container {
  margin: 2.5em 0;
}

.card-img {
  width: 100%;
  margin-bottom: 1.7em;
}

h2.cards-h2 {
  margin-bottom: 1em;
}

.card-img:hover {
  opacity: 90%;
}

.card-header {
  margin-bottom: 5px;
}

.card-link {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #005da6;
  margin: 1em 0;
}

.card-link::after {
  content: ' >';
  position: relative;
  left: 0;
}

.card-link:hover::after {
  left: 3px;
  transition: left 100ms linear;
}

 /* Icons */
#icons {
  justify-content: center;
  position: relative;
  text-align: center;
  list-style: none;
  display: flex;
  margin: 4.5em 0;
}

#icons > li {
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.icons-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: bolder;
  max-width: 125px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  white-space: normal;
  overflow: hidden;
  margin-top: 10px;
}

.icons-link {
  position: relative;
  display: inline-block;
  padding: 12px 6px;
}

.icons-link:hover {
  text-decoration: underline;
}

/* 2nd Banner */
#banner2 {
  position: relative;
  margin-top: 60px;
}

#banner2 > .image-title {
  position: absolute;
  top: 150px;
}

#banner2 > .image-title > .shop-btn {
  width: 190px;
}
